*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}
.container{
    height: 35rem;
    width: 24rem;
    background-color: hsl(0, 0%, 15%);
    border-radius: 1rem;
}
.container img{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin-left: 40%;
    margin-top: 10%;
}
.p1{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}
span{
    text-align: center;
    color: hsl(75, 94%, 57%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left:7rem;
    font-weight: bold;
    filter: drop-shadow( 0 0 10px hsl(75, 94%, 57%));
}
.p2{
    padding-top: 0.5rem;
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.links-container{
    height: 50%;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
    gap: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.links{
    color: white;
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    cursor: pointer;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.7s all ease-in-out;
    font-weight: bold;
}
.links:hover{
    background-color: hsl(75, 94%, 57%);
    scale: 1.1;
    color: black;
}
@media(max-width:576px){
    .container{
        height: 35rem;
        width: 20rem;
    }
    span{
        padding-left: 4.5rem;
    }
}