/*Let add some Css variables*/
:root{
    --green:hsl(75, 94%, 57%);
    --white:hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: var(--Grey900);
    display: flex;
    justify-content: center;
    align-items: center;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body.active{
    background-color: aliceblue;
}
.container{
   height: 45rem;
    width: 28rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--Grey800);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 3px 5px var(--white);
}
.container.active{
    background-color: rgb(180, 167, 145);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
.picture{
    border-radius: 5rem;
    height: 10rem;
    transition: 0.5s all ease-in-out;
    width: 10rem;
    background-image: url("/images/Bruce.jpeg");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.picture:hover{
scale: 102%;
}
h1{
   color: var(--green);
   box-shadow: 2px 3px 5px var(--green);
   padding: 0.2rem;
}
h1.active{
    box-shadow: none;
    color: color-mix(in srgb, black 40%, dodgerblue 60%);
    filter: drop-shadow(2px 2px 2px );
}
h2{
    color: var(--white);
     text-align: center;
     margin-top: 1rem;
}

.Links{
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.Links a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    text-align: center;
    border-radius: 0.3rem;
    width: 80%;
    font-weight: bold;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    padding: 1rem;
    background-color: var(--Grey700);
}
.Links a.active{
    background-color: darkblue;
}
.Links a.active:hover{
    filter: brightness(1.3);
    background-color: darkblue;
}
.Links a:hover{
    background-color: var(--green);
    scale: 105%;
}

.toogle{
    background-color: var(--green);
    height: 2rem; width: 5rem;
    border-radius: 1rem;
}
.toogle.active{
    background-color: rgb(102, 152, 168);
}
.circle{
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 0.1rem;
    margin-left: 0.2rem;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
.circle.active {
    margin-left: 3rem;
}
/*Let add some media queries*/

@media(max-width:375px){
    .container{
        width: 21rem;
        height: 45rem;
    }
    h1{
      text-align: center;
    }
    .picture{
        width: 8.5rem;
         height: 8.5rem;
    }
}
@media(max-width:320px){
    .container{
        width: 18rem;
    }
    .picture{
        height: 8rem;
        width: 8rem;
    }
}